

html, body {
  padding: 0; margin:0;
  height:100%;
  font-family: 'amiri', serif;
}

#root{
  position:relative;
  width:100%; height:100%;
}

canvas#stage{
  // width:100%; height:100%;
}

// ul#list{
//   margin:0; padding:0;
//   overflow: hidden;
//   height:0;
//   // display:none;
// }

#images{
  margin:0; padding:0;
  overflow: hidden;
  height:0;
}
