extends layout

block content
  #root 
    canvas#stage
  #images
    img#img-title(src="/images/title.png")
  script(type="text/javascript").
    var list=!{JSON.stringify(list).replace(/<\//g, "<\\/")};
